*{
    font-family: monospace;
}
.form_admin_container {

    border: solid;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    background: url(https://media.gettyimages.com/videos/4k-blue-underwater-with-sun-rays-and-seaweeds-loopable-stock-video-video-id1175643252?s=640x640);
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 30px;
}

form {
    color: black;

}

#title  {
    color: black;
}
#description {
    color: black;
}

#stock {
    color: black;
}

#price {
    color: black;
}