.product {
    transition: 0.2s;
    border-radius: 50px;
    background: #1c61ba;
    box-shadow:  -20px 20px 30px #18529e,
                20px -20px 30px #2070d6;
    text-align: center;
    width: 300px;
    height: 150px;
    display: inline-grid;
    margin-left: 50px;
    margin-top: 30px;
    overflow: hidden;
}

.product:hover {
    transition: 0.2s;
    width: 350px;
    height: 500px;
}

#title {
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
}

#price {
    font-size: xx-large ;
}

#desc {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: left;
    overflow: overlay;
    background-color: #04387c;
    height: 30px;
}

#cart_logo {
    transition: 0.3s;
    position: absolute;
    right: 0px;
    bottom: 65px;
    background-color: #04387c;
    padding: 5px;
    border-radius: 15px;
}

#cart_logo:active {
    background-color:white;
    color: black;
}

#cart_logo:hover {
    transition: 0.3s;
    padding: 8px;
}

.product_wrapper {
    margin-left: 50px;
    background: #04387c;
    border-radius: 10px;
    margin-top: 30px;
    font-size: x-large;
}